main {
    display: flex;
    width: 30%;
    flex-wrap: wrap;
    margin: auto;
}
button {
    width: 25%;
    padding: 1vw;
    font-size: 1.5vw;
    background-color: gray;
}

h1 {
    width: 100%;
    border: 1px solid black;
    padding-top: 2vw;
    height: 3vw;
    background-color: lightgray;
    text-align: right;
    font-size: 3vw;
}
body {
    background-color: black;
}